.continer{

    border: 2px blue solid;
    width: 60%;
    display: flex;
    justify-content: space-around;

}

.secondContiner{
    
    display: flex;
    flex-direction: column; 
    align-content:space-around ;  
    align-items: flex-end;
    justify-content: space-around;
    position: relative;
    top:26%;   
    left: 25%; 
    border: 2px red solid;
    width: 40%;
    height: 300px;
      padding: 20px; /* this */

}
.img_dec{
    display: flex;
    flex-direction: row-reverse;
    border-color: blue;
    background-color: rgb(212, 206, 198);
    height: 40%;

}
.decription{
    padding-top: 2%;
    padding-right: 10%;
    text-align: right;

}


.car_img{
    width: 35%;
    height: 60%;
    padding-top: 5%;
    padding-right: 2%;
    

}

.price_div{
    display: flex;
    flex-direction:row-reverse;
    justify-content: space-around ;
    width: 80%;
    position: relative;
    right:3%;

}


.input_price{
    position: relative;
    align-self: center; 
    width: 100px;
    height: 60%;
    border-radius: 10%;
    border-color: rgb(223, 221, 221);
    padding-left: 5%;
    
}
.price_title{
    padding-left: 5%;
}
.details_car{

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border:blue 2px solid;
    position: relative;
    left:-2%;
}